<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<!-- {% if author.academic_profiles.academia %}
  <li>
    <a href="{{ author.academic_profiles.academia }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-academia" aria-hidden="true"></i><span class="label">Academia</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.acclaim %}
  <li>
    <a href="{{ author.academic_profiles.acclaim }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-acclaim" aria-hidden="true"></i><span class="label">Acclaim</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.acm %}
  <li>
    <a href="{{ author.academic_profiles.acm }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-acm" aria-hidden="true"></i><span class="label">Acm</span>
    </a>
  </li>
{% endif %}

{% if author.academic_profiles.acmdl %}
  <li>
    <a href="{{ author.academic_profiles.acmdl }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-acmdl" aria-hidden="true"></i><span class="label">Acmdl</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.ads %}
  <li>
    <a href="{{ author.academic_profiles.ads }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-ads" aria-hidden="true"></i><span class="label">Ads</span>
    </a>
  </li>
{% endif %}

{% if author.academic_profiles.africarxiv %}
  <li>
    <a href="{{ author.academic_profiles.africarxiv }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-africarxiv" aria-hidden="true"></i><span class="label">Africarxiv</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.arxiv %}
  <li>
    <a href="{{ author.academic_profiles.arxiv }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-arxiv" aria-hidden="true"></i><span class="label">Arxiv</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.biorxiv %}
  <li>
    <a href="{{ author.academic_profiles.biorxiv }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-biorxiv" aria-hidden="true"></i><span class="label">Biorxiv</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.ceur %}
  <li>
    <a href="{{ author.academic_profiles.ceur }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-ceur" aria-hidden="true"></i><span class="label">Ceur</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.ciencia-vitae %}
  <li>
    <a href="{{ author.academic_profiles.ciencia-vitae }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-ciencia-vitae" aria-hidden="true"></i><span class="label">Ciencia Vitae</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.closed-access %}
  <li>
    <a href="{{ author.academic_profiles.closed-access }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-closed-access" aria-hidden="true"></i><span class="label">Closed Access</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.conversation %}
  <li>
    <a href="{{ author.academic_profiles.conversation }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-conversation" aria-hidden="true"></i><span class="label">Conversation</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.coursera %}
  <li>
    <a href="{{ author.academic_profiles.coursera }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-coursera" aria-hidden="true"></i><span class="label">Coursera</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.crossref %}
  <li>
    <a href="{{ author.academic_profiles.crossref }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-crossref" aria-hidden="true"></i><span class="label">Crossref</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.cv %}
  <li>
    <a href="{{ author.academic_profiles.cv }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-cv" aria-hidden="true"></i><span class="label">Cv</span>
    </a>
  </li>
{% endif %}

{% if author.academic_profiles.datacite %}
  <li>
    <a href="{{ author.academic_profiles.datacite }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-datacite" aria-hidden="true"></i><span class="label">Datacite</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.dataverse %}
  <li>
    <a href="{{ author.academic_profiles.dataverse }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-dataverse" aria-hidden="true"></i><span class="label">Dataverse</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.dblp %}
  <li>
    <a href="{{ author.academic_profiles.dblp }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-dblp" aria-hidden="true"></i><span class="label">Dblp</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.depsy %}
  <li>
    <a href="{{ author.academic_profiles.depsy }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-depsy" aria-hidden="true"></i><span class="label">Depsy</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.doi %}
  <li>
    <a href="{{ author.academic_profiles.doi }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-doi" aria-hidden="true"></i><span class="label">Doi</span>
    </a>
  </li>
{% endif %}

{% if author.academic_profiles.dryad %}
  <li>
    <a href="{{ author.academic_profiles.dryad }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-dryad" aria-hidden="true"></i><span class="label">Dryad</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.elsevier %}
  <li>
    <a href="{{ author.academic_profiles.elsevier }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-elsevier" aria-hidden="true"></i><span class="label">Elsevier</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.figshare %}
  <li>
    <a href="{{ author.academic_profiles.figshare }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-figshare" aria-hidden="true"></i><span class="label">Figshare</span>
    </a>
  </li>
{% endif %} -->

{% if author.academic_profiles.google-scholar %}
<li>
  <a href="{{ author.academic_profiles.google-scholar }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="ai ai-google-scholar" aria-hidden="true"></i><span class="label">Scholar</span>
  </a>
</li>
{% endif %}

<!-- {% if author.academic_profiles.hal %}
  <li>
    <a href="{{ author.academic_profiles.hal }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-hal" aria-hidden="true"></i><span class="label">Hal</span>
    </a>
  </li>
{% endif %}

{% if author.academic_profiles.hypothesis %}
  <li>
    <a href="{{ author.academic_profiles.hypothesis }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-hypothesis" aria-hidden="true"></i><span class="label">Hypothesis</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.ideas-repec %}
  <li>
    <a href="{{ author.academic_profiles.ideas-repec }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-ideas-repec" aria-hidden="true"></i><span class="label">Ideas-Repec</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.ieee %}
  <li>
    <a href="{{ author.academic_profiles.ieee }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-ieee" aria-hidden="true"></i><span class="label">Ieee</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.impactstory %}
  <li>
    <a href="{{ author.academic_profiles.impactstory }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-impactstory" aria-hidden="true"></i><span class="label">Impactstory</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.inaturalist %}
  <li>
    <a href="{{ author.academic_profiles.inaturalist }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-inaturalist" aria-hidden="true"></i><span class="label">Inaturalist</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.inpn %}
  <li>
    <a href="{{ author.academic_profiles.inpn }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-inpn" aria-hidden="true"></i><span class="label">Inpn</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.inspire %}
  <li>
    <a href="{{ author.academic_profiles.inspire }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-inspire" aria-hidden="true"></i><span class="label">Inspire</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.isidore %}
  <li>
    <a href="{{ author.academic_profiles.isidore }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-isidore" aria-hidden="true"></i><span class="label">Isidore</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.jstor %}
  <li>
    <a href="{{ author.academic_profiles.jstor }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-jstor" aria-hidden="true"></i><span class="label">Jstor</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.lattes %}
  <li>
    <a href="{{ author.academic_profiles.lattes }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-lattes" aria-hidden="true"></i><span class="label">Lattes</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.mathoverflow %}
  <li>
    <a href="{{ author.academic_profiles.mathoverflow }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-mathoverflow" aria-hidden="true"></i><span class="label">Mathoverflow</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.mendeley %}
  <li>
    <a href="{{ author.academic_profiles.mendeley }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-mendeley" aria-hidden="true"></i><span class="label">Mendeley</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.moodle %}
  <li>
    <a href="{{ author.academic_profiles.moodle }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-moodle" aria-hidden="true"></i><span class="label">Moodle</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.nakala %}
  <li>
    <a href="{{ author.academic_profiles.nakala }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-nakala" aria-hidden="true"></i><span class="label">Nakala</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.open-access %}
  <li>
    <a href="{{ author.academic_profiles.open-access }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-open-access" aria-hidden="true"></i><span class="label">Open Access</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.open-data %}
  <li>
    <a href="{{ author.academic_profiles.open-data }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-open-data" aria-hidden="true"></i><span class="label">Open Data</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.open-materials %}
  <li>
    <a href="{{ author.academic_profiles.open-materials }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-open-materials" aria-hidden="true"></i><span class="label">Open Materials</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.obp %}
  <li>
    <a href="{{ author.academic_profiles.obp }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-obp" aria-hidden="true"></i><span class="label">Obp</span>
    </a>
  </li>
{% endif %}

{% if author.academic_profiles.openedition %}
  <li>
    <a href="{{ author.academic_profiles.openedition }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-openedition" aria-hidden="true"></i><span class="label">Openedition</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.orcid %}
  <li>
    <a href="https://orcid.org/{{ author.academic_profiles.orcid }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-orcid" aria-hidden="true"></i><span class="label">Orcid</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.osf %}
  <li>
    <a href="{{ author.academic_profiles.osf }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-osf" aria-hidden="true"></i><span class="label">Osf</span>
    </a>
  </li>
{% endif %}

{% if author.academic_profiles.overleaf %}
  <li>
    <a href="{{ author.academic_profiles.overleaf }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-overleaf" aria-hidden="true"></i><span class="label">Overleaf</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.philpapers %}
  <li>
    <a href="{{ author.academic_profiles.philpapers }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-philpapers" aria-hidden="true"></i><span class="label">Philpapers</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.piazza %}
  <li>
    <a href="{{ author.academic_profiles.piazza }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-piazza" aria-hidden="true"></i><span class="label">Piazza</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.preregistered %}
  <li>
    <a href="{{ author.academic_profiles.preregistered }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-preregistered" aria-hidden="true"></i><span class="label">Preregistered</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.protocols %}
  <li>
    <a href="{{ author.academic_profiles.protocols }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-protocols" aria-hidden="true"></i><span class="label">Protocols</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.psyarxiv %}
  <li>
    <a href="{{ author.academic_profiles.psyarxiv }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-psyarxiv" aria-hidden="true"></i><span class="label">Psyarxiv</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.publons %}
  <li>
    <a href="{{ author.academic_profiles.publons }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-publons" aria-hidden="true"></i><span class="label">Publons</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.pubmed %}
  <li>
    <a href="{{ author.academic_profiles.pubmed }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-pubmed" aria-hidden="true"></i><span class="label">Pubmed</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.pubpeer %}
  <li>
    <a href="{{ author.academic_profiles.pubpeer }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-pubpeer" aria-hidden="true"></i><span class="label">Pubpeer</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.researcherid %}
  <li>
    <a href="{{ author.academic_profiles.researcherid }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-researcherid" aria-hidden="true"></i><span class="label">Researcherid</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.researchgate %}
  <li>
    <a href="{{ author.academic_profiles.researchgate }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-researchgate" aria-hidden="true"></i><span class="label">Researchgate</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.ror %}
  <li>
    <a href="{{ author.academic_profiles.ror }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-ror" aria-hidden="true"></i><span class="label">Ror</span>
    </a>
  </li>
{% endif %}

{% if author.academic_profiles.sci-hub %}
  <li>
    <a href="{{ author.academic_profiles.sci-hub }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-sci-hub" aria-hidden="true"></i><span class="label">Sci-Hub</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.scirate %}
  <li>
    <a href="{{ author.academic_profiles.scirate }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-scirate" aria-hidden="true"></i><span class="label">Scirate</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.scopus %}
  <li>
    <a href="{{ author.academic_profiles.scopus }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-scopus" aria-hidden="true"></i><span class="label">Scopus</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.semantic-scholar %}
  <li>
    <a href="{{ author.academic_profiles.semantic-scholar }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-semantic-scholar" aria-hidden="true"></i><span class="label">Semantic Scholar</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.springer %}
  <li>
    <a href="{{ author.academic_profiles.springer }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-springer" aria-hidden="true"></i><span class="label">Springer</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.ssrn %}
  <li>
    <a href="{{ author.academic_profiles.ssrn }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-ssrn" aria-hidden="true"></i><span class="label">Ssrn</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.stackoverflow %}
  <li>
    <a href="{{ author.academic_profiles.stackoverflow }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-stackoverflow" aria-hidden="true"></i><span class="label">Stackoverflow</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.zenodo %}
  <li>
    <a href="{{ author.academic_profiles.zenodo }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-zenodo" aria-hidden="true"></i><span class="label">Zenodo</span>
    </a>
  </li>
{% endif %} -->

<!-- {% if author.academic_profiles.zotero %}
  <li>
    <a href="{{ author.academic_profiles.zotero }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="ai ai-zotero" aria-hidden="true"></i><span class="label">Zotero</span>
    </a>
  </li>
{% endif %} -->
